.letra1 {
    background-color: aquamarine;
    text-transform: uppercase;
    font-style: italic;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 500px;
    background-color: blanchedalmond;
}

footer {
    text-align: center;
    background-color: #a45629;
    color: bisque;
    padding: 5px;
}